<div id="@Id" style="@Style" class="apple-card @Class">
    @if (TitleTemplate != null)
    {
        <div class="apple-card-header">
            @TitleTemplate
        </div>
    }
    <div class="apple-card-context">
        @ContextTemplate
    </div>
</div>

@code {
    [Parameter] public RenderFragment? TitleTemplate { get; set; }
    [Parameter] public RenderFragment? ContextTemplate { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter] public string? Style { get; set; }
    [Parameter] public string? Id { get; set; }
    [Parameter] public string? ContextStyle { get; set; }
    [Parameter] public string? HeaderStyle { get; set; }
    [Parameter] public string? HeaderClass { get; set; }
    [Parameter] public string? ContextClass { get; set; }
}

<style>
    .apple-card {
        border-radius: 20px;
        min-height: 300px;
        max-height: 100%;
        background-color: #fff;
    }

    .apple-card:hover {
        box-shadow: 0 0 10px #C0C0C0;
        animation: CardDisplay 0.2s ease;
        transform: scale(1.02);
        transition: box-shadow 0.3s, border-color 0.3s;
    }

    @@media screen and (max-width: 768px) {  
        .apple-card:hover {
            box-shadow: 0 0 !important;
            animation: CardDisplay 0.2s ease;
            transform: scale(0.98);
        }
    }

    .apple-card:not(:hover) {
        animation: CardDisplay2 0.2s ease;
    }

    .apple-card .apple-card-header {
        background-color: rgba(248, 248, 252, .85);
        border-radius: 20px 20px 0 0;
        padding: 15px 30px 1px;
    }

    .apple-card .apple-card-context {
        border-radius: 0 0 20px 20px;
        padding: 1px 30px 1px;
        overflow: auto;
    }
</style>