.light {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

header {
    overflow: hidden;
    /* 防止子元素超出边界 */
    display: flex;
    scroll-snap-align: end;
}

.header{
    color: #f5f5f7;
    p{
        color: #191c1f;
    }
    /* 添加圆角 */
    overflow: hidden;
    /* 防止子元素超出边界 */
    display: flex;
    scroll-snap-align: end;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.context{
    margin: 10px;
}

@media screen and (max-width: 768px)  {
    .data{
        border-radius : 0;
    }
}