<!DOCTYPE html>
<html lang="en">

<head>
    <title>建大导航 - 西建大iOS Club</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keywords" content="西建大ios club,西建大iOSClub,西建大iOS Club,西安建筑科技大学iOS众创空间俱乐部,西安建筑科技大学,iOS Club ">
    <meta name="description" content="西安建筑科技大学iOS众创空间俱乐部，是由Apple公司资金支持，受南山书院和西安建筑科技大学大学生创新创业实践中心指导的学术型学生团体">
    <base href="/"/>
    <link rel="canonical" href="https://link.xauat.site"/>
    <meta http-equiv="content-language" content="zh-cn">
    <link rel="stylesheet" href="app.css?v=@DateTime.Today.Ticks"/>
    <link rel="icon" type="image/png" href="iOS_Club_LOGO.png"/>
    <link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet">
    <HeadOutlet @rendermode="InteractiveServer"/>
</head>

<body>
<Routes @rendermode="InteractiveServer"/>
<AntContainer @rendermode="InteractiveServer"/>
<script src="//at.alicdn.com/t/c/font_4612528_md4hjwjgcb.js"></script>
<script src="https://unpkg.com/@@antv/g2plot@1.1.28/dist/g2plot.js"></script>
<script src="_content/AntDesign.Charts/ant-design-charts-blazor.js"></script>
<script src="site.js?v=@DateTime.Today.Ticks"></script>
<script src="_framework/blazor.web.js"></script>
<script src="_content/AntDesign/js/ant-design-blazor.js"></script>
<script src="qrcode.min.js"></script>

</body>


<style>
    html, body {
        font-family: PingFang SC, Helvetica, sans-serif;
        background-size: auto;
        background-repeat: no-repeat;
        background-position: initial;
    }
</style>
</html>