h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.desktop-phone {
    display: block !important;
}

.desktop-phone-flex {
    display: flex !important;
}

.phone-desktop-flex {
    display: none !important;
}

.phone-desktop {
    display: none !important;
}
/* 手机页面调整 */

@media screen and (max-width: 768px) {
    .container {
        border-radius: 0;
    }
    
    .desktop-phone {
        display: none !important;
    }

    .phone-desktop {
        display: block !important;
    }

    .desktop-phone-flex {
        display: none !important;
    }

    .phone-desktop-flex {
        display: flex !important;
    }
}

.ant-modal-header {
    border-radius: 12px 12px 0 0 !important;
}

.ant-modal-body {
    border-radius: 0 0 12px 12px !important;
}

.ant-modal-content {
    border-radius: 12px !important;
}

.a-btn {
    display: inline-block;
    transition: .2s;
    cursor: pointer;
    margin: 5px 5px 0 0;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid transparent;
}

.a-btn:hover {
    transform: scale(1.02);
    border-color: #1890ff;
}

.btn-title {
    font-size: 1.2em;
    font-weight: 400;
    color: #000000;
}

.btn-description {
    color: #00000073;
    text-align: center;
    font-size: 0.8em;
}

.apple-card {
    border-radius: 20px;
    min-height: 300px;
    max-height: 100%;
    transition: .2s;
    background: rgba(255, 255, 255);
    
}

@media screen and (min-width: 768px) {
    .apple-card:hover {
        box-shadow: 0 0 10px #C0C0C0;
        transform: scale(1.02);
        transition: box-shadow 0.3s, border-color 0.3s, transform 0.2s;
    }
}

@media screen and (max-width: 768px) {
    .apple-card:active {
        transform: scale(0.98);
    }
}

.apple-card .apple-card-header {
    background-color: rgba(248, 248, 252, .85);
    border-radius: 20px 20px 0 0;
    padding: 15px 30px 1px;
}

.apple-card .apple-card-context {
    border-radius: 0 0 20px 20px;
    padding: 1px 30px 1px;
    overflow: auto;
}