h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes CardDisplay {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(1.02)
    }
}

@keyframes CardDisplay2 {
    0% {
        transform: scale(1.02)
    }
    100% {
        transform: scale(1)
    }
}

/* 半透明 */

.container {
    background: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);

    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;

    animation: fade-in 1s ease-in-out;
}

.desktop-phone {
    display: block !important;
}

.desktop-phone-flex {
    display: flex !important;
}

.phone-desktop-flex {
    display: none !important;
}

.phone-desktop {
    display: none !important;
}

.desktop-laptop {
    display: block;
}

/* 手机页面调整 */

@media screen and (max-width: 768px) {

    .container {
        border-radius: 0;
    }
    
    .desktop-phone {
        display: none !important;
    }

    .phone-desktop {
        display: block !important;
    }

    .desktop-phone-flex {
        display: none !important;
    }

    .phone-desktop-flex {
        display: flex !important;
    }

    @keyframes CardDisplay {
        0% {
            transform: scale(1)
        }

        100% {
            transform: scale(0.98)
        }
    }

    @keyframes CardDisplay2 {
        0% {
            transform: scale(0.98)
        }
        100% {
            transform: scale(1)
        }
    }
}

@media screen and (max-width: 1199px) {
    .desktop-laptop {
        display: none !important;
    }
}

.ant-modal-header {
    border-radius: 12px 12px 0 0 !important;
}

.ant-modal-body {
    border-radius: 0 0 12px 12px !important;
}

.ant-modal-content {
    border-radius: 12px !important;
}

.a-btn{
    background-color: #fff;
    border-radius: 10px;
}

.a-btn {
    display: inline-block;
    transition: .2s;
    cursor: pointer;
    margin: 5px 5px 0 0;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #ffffff;
}

.a-btn:hover {
    transform: scale(1.02);
    border-color: #1890ff;
}

body {
    font-size: calc(2rem + 1vw); /* 初始字体大小为2rem，随着视口宽度增加线性增加 */
}

@media (max-width: 600px) {
    body {
        font-size: calc(1rem + 1.5vw); /* 在小屏幕上，字体大小以不同的比例减小 */
    }
}

@media (min-width: 1200px) {
    body {
        font-size: calc(1.5rem + 0.5vw); /* 在大屏幕上，字体大小以更小的比例减小 */
    }
}

.btn-title {
    font-size: 1.2em
}

.btn-description {
    color: #00000073;
    text-align: center;
    font-size: 0.8em;
}