h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.desktop-phone {
    display: block !important;
}

.desktop-phone-flex {
    display: flex !important;
}

.phone-desktop-flex {
    display: none !important;
}

.phone-desktop {
    display: none !important;
}
/* 手机页面调整 */

@media screen and (max-width: 768px) {
    .container {
        border-radius: 0;
    }
    
    .desktop-phone {
        display: none !important;
    }

    .phone-desktop {
        display: block !important;
    }

    .desktop-phone-flex {
        display: none !important;
    }

    .phone-desktop-flex {
        display: flex !important;
    }
}

.ant-modal-header {
    border-radius: 12px 12px 0 0 !important;
}

.ant-modal-body {
    border-radius: 0 0 12px 12px !important;
}

.ant-modal-content {
    border-radius: 12px !important;
}

.a-btn {
    display: inline-block;
    transition: .2s;
    cursor: pointer;
    margin: 5px 5px 0 0;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #ffffff;
}

.a-btn:hover {
    transform: scale(1.02);
    border-color: #1890ff;
}

.btn-title {
    font-size: 1.2em;
    font-weight: 400;
    color: #000000;
}

.btn-description {
    color: #00000073;
    text-align: center;
    font-size: 0.8em;
}