@page "/Login"
@using System.Net.Http.Headers
@using global::UniversityLink.DataModels
@using iOSClub.UniversityLink.Models
@using Microsoft.EntityFrameworkCore
@using Newtonsoft.Json
@inject IMessageService _message
@inject IDbContextFactory<LinkContext> DbFactory
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navigation
@inject HttpClient Client

<PageTitle>登录到您的iMember - 建大导航</PageTitle>

<GridRow Type="flex" Justify="center" Style="height: 80vh;">
    <GridCol Xs="24" Sm="24" Md="24" Lg="24" Xl="12" Xxl="12">
        <Card Class="login-form" Bordered="false">
            <Title Level="2" Style="text-align: center">登录</Title>
            <Form Model="Model"
                  OnFinish="Submit"
                  OnFinishFailed="OnFinishFailed">
                <FormItem Class="item">
                    <div class="input-box">
                        <input @bind="@context.Name" required=""/>
                        <label>姓名</label>
                    </div>
                </FormItem>
                <FormItem Class="item">
                    <div class="input-box">
                        <input @bind="@context.Id" required=""/>
                        <label>学号</label>
                    </div>
                </FormItem>
                <FormItem Class="item" Style="text-align: center">
                    <Button Style="border-radius: 4px;" Type="@ButtonType.Primary" HtmlType="submit">提交</Button>
                </FormItem>
                <FormItem Class="item">
                    <Paragraph class="Submit" Style="text-align: center">
                        没有账号？去
                        <NavLink href="https://www.xauat.site/Signup" Match="NavLinkMatch.All">注册</NavLink>
                        一个
                    </Paragraph>
                </FormItem>
            </Form>
        </Card>
    </GridCol>
</GridRow>

@code {
    public LoginModel Model { get; } = new();

    private async Task Submit()
    {
        if (string.IsNullOrEmpty(Model.Name) || string.IsNullOrEmpty(Model.Id))
        {
            await _message.Info("没数据!");
            return;
        }

        await using var context = await DbFactory.CreateDbContextAsync();

        var userModel = await context.Users.FirstOrDefaultAsync(x => x.UserId == Model.Id && x.UserName == Model.Name);

        if (userModel == null)
        {
            var response = await Client.PostAsJsonAsync("https://www.xauat.site/api/Member/Login", Model);
            if (!response.IsSuccessStatusCode)
            {
                await _message.Info("用户账号密码出错!");
                return;
            }

            var Jwt = await response.Content.ReadAsStringAsync();
            Client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", Jwt);
            response = await Client.GetAsync("https://www.xauat.site/api/Member/GetData");

            if (!response.IsSuccessStatusCode)
            {
                await _message.Info("用户账号密码出错!");
                return;
            }

            var json = await response.Content.ReadAsStringAsync();
            userModel = JsonConvert.DeserializeObject<UserModel>(json);
            if (userModel is null)
            {
                await _message.Info("用户账号密码出错!");
                return;
            }

            userModel.Identity = userModel.Identity switch
            {
                "Minister" => "Manager",
                "President" => "Founder",
                _ => "Member"
            };
            context.Users.Add(userModel);
            await context.SaveChangesAsync();
        }

        var provider = (Provider)authStateProvider;
        await provider.UpdateAuthState(userModel);

        await _message.Info("登陆成功!");
        navigation.NavigateTo(userModel.Identity is "Founder" or "Manager" 
            ? "/Centre" : "/LinkIcon",true);
    }

    private void OnFinishFailed()
    {
        _message.Error("出错了!");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var authState = await authStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            if (user.Identity is not null && user.Identity.IsAuthenticated)
            {
                navigation.NavigateTo("/Centre");
            }
        }

        await base.OnAfterRenderAsync(firstRender);
    }

}

<style>
    .Layout-Header {
        background-color: #ffffff;
    }
    
    .Layout-Title{
        color: #3c3c43 !important;
    }
    
    .login-form {
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.3);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        box-shadow: 0 0 10px #c8c8c8;
        margin-top: 30px; 
        margin-bottom: 30px;
        max-width: 100vw
    }

    @@media screen and (max-width: 768px) {
        .login-form{
            box-shadow: none;
            margin : 0;
        }
    }

    .input-box input {
        color: #1c1f23;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        letter-spacing: 1px;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #ededed;
        outline: none;
        background: transparent;
    }

    .input-box label {
        color: #1c1f23;
        padding: 10px;
        font-size: 16px;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        transition: .5s;
    }

    .input-box input:focus ~ label,
    .input-box input:valid ~ label {
        top: -18px;
        left: 0;
        color: #3c3c43;
        font-size: 12px;
    }
</style>